<!DOCTYPE html>
<html>
<head>
    <script src="Scripts/jquery-1.6.4.js"></script>
    <script src="Scripts/underscore.js"></script>
    <script src="Scripts/backbone.js"></script>
    <script src="Scripts/app.js"></script>
    <link rel="stylesheet" href="Styles/Site.css" type="text/css"/>
    <title>My Backbone app!</title>
</head>
<body>
    <header>
        <h1>Title</h1>
    </header>
    <div id="content">  
        <aside id="orderList">
        </aside>
        <div id="mainContent">
        <section id="orderDetails">
        </section>
        </div>
    </div>


    <!-- Templates -->
    <script type="text/html" id="orderListTemplate">
    <button class="addOrder">Add Order</button>
    <ul>
    </ul>
    </script>
    <script type="text/html" id="orderTemplate">
    <div><%= title %><button>delete</button></div>
    </script>

    <script type="text/html" id="orderDetailsTemplate">
    <form>
        <p>
            <input id="id" type="text" value="<%= id %>" disabled/>
            <label for="id">Id</label>
        </p>
        <p>
            <input id="reference" type="text" placeholder="Order Reference" value="<%= reference %>"/>
            <label for="reference">Reference Number</label>
        </p>
        <p>
            <input id="customer" type="text" placeholder="Customer" value="<%= customer %>"/>
            <label for="customer">Customer</label>
        </p>
        <p class="details">
            <label for="details">Order Details</label>
            <textarea id="details" placeholder="Order details"><%= details %></textarea>
        </p>
        <input type="submit" value="Save order"/>
    </form>
    </script>
</body>
</html>
